<form id="widget-configurator" class="well well-small well-configurator">
    <fieldset>
        <legend>Price Promise<sup style="font-size: 7px;vertical-align: 8px;}">SM</sup> Button</legend>
        <% include ../../../bower_components/edmunds-configurator-sdk/components/configurator/section/api-key.ejs %>
        <% include section/zip-ppb.ejs %>
        <% include section/vin-code.ejs %>
        <% include section/button-size.ejs %>
        <% include section/color-scheme-with-button.ejs %>
    </fieldset>
    <fieldset>
        <% include ../../../bower_components/edmunds-configurator-sdk/components/configurator/section/width.ejs %>
    </fieldset>
    <% include ../../../bower_components/edmunds-configurator-sdk/components/configurator/section/actions.ejs %>
</form><!--./widget-configurator -->