<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.1.custom.min.css">
</head>
<body>

<div id="main" class="container">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills pull-right">
                <li><a href="/docs/tmv" target="_blank">View API Documentation</a></li>
            </ul>
            <ul class="nav nav-pills">
                <li><a href="/tmv/v2">Widget</a></li>
                <li class="active"><a href="/tmv/v2/about">Quick Start</a></li>
            </ul>
        </div>
    </div><!--./row -->
    <div class="row">

        <h2>TMV Widget Quick Start</h2>
        <hr class="bs-docs-separator">
        <ul>
            <li><a href="#Get_Widget_Code">Get Widget Code</a></li>
            <li><a href="#How_to_Embed_Widget">How to Embed Widget</a></li>
            <li><a href="#Widget_Custom_Events">Widget Custom Events</a></li>
        </ul>

        <hr class="bs-docs-separator">
        
        <h3><a name="Get_Widget_Code"></a>Get Widget Code</h3>
        <p>To get started, just use the configurator to get code to add to your site.</p>
        <h4>Settings:</h4>
        <ul>
            <li><p><code>Vehicle API Key</code> - the Key for Vehicle API registered on <a href="http://developer.edmunds.com" target="_blank">Edmunds Developer Portal</a>.</p></li>
            <li><p><code>Theme</code> - the theme for the Widget. Options: 'Theme 1', 'Theme 2', 'Theme 3'.</p></li>
            <li><p><code>Color Scheme</code> - the color scheme for the Widget. Options: 'Light', 'Dark'.</p></li>
            <li><p><code>Layout</code> - sets the layout of the Widget.  Options: 'Vertical', 'Horizontal'.</p></li>
            <li><p><code>Width</code> - sets the width of the Widget.</p></li>
            <li><p><code>Include Border</code> - include/exclude border in the Widget.</p></li>
            <li><p><code>Border Radius</code> - sets the size of the Border Radius.</p></li>
            <li><p><code>Included Makes</code> - the set of Makes to display in Makes dropdown.</p></li>
            <li><p><code>Show vehicles</code> - specifies what types of vehicles to display on widget. Options: 'ALL' - both new and used cars, 'NEW' - only new cars, 'USED' - only used cars.</p></li>
            <li><p><code>Default Zip Code</code> - the zip code to display by default in ZIP field.</p></li>
            <li><p><code>Price to display</code> - the set of prices to display. Depends from <code>Show vehicles</code>.</p>
                <ul>
                    <li><p><code>ALL</code> or <code>NEW</code> - Options: 'Invoice, TMV and MSRP', 'Invoice and TMV', 'TMV only'.</p></li>
                    <li><p><code>USED</code> - Options: 'TradeIn, PrivateParty and Dealer Retail', 'TradeIn and Dealer Retail', 'Dealer Retail only'.</p></li>
                </ul>
            </li>
            <li><p><code>Get Code</code> - instructions to embed TMV Widget on your page.</p></li>
        </ul>

        <hr class="bs-docs-separator">
        
        <h3><a name="How_to_Embed_Widget"></a>How to Embed Widget</h3>
        <p>To embed TMV Widget on your page just follow the instructions from <code>Get Code</code> popup.</p>
        <h4>Example scenario:</h4>
        <ol>
            <li>
                <p>Add the following JavaScript files to your page. It's preferably to add them at the bottom of your page for best page performance:</p>
                <pre>&lt;script src="http://tmv.herokuapp.com/js/edm/sdk.js"&gt;&lt;/script&gt;
&lt;script src="http://tmv.herokuapp.com/js/edm/tmvwidget.js"&gt;&lt;/script&gt;</pre> 
            </li>
            <li>
                <p>Create new instance of the Widget:</p>
                <pre>var widget = new EDM.TMV('vc7cfrppxszkhbtu4zhy3gvd', {root: 'tmvwidget', baseClass: 'tmvwidget'});</pre> 
            </li>
            <li>
                <p>Widget initialisation:</p>
                <pre>widget.init({"includedMakes":"acura,aston-martin,audi","price":"tmv-invoice-msrp","showVehicles":"ALL","zip":"90010"});</pre> 
            </li>
            <li>
                <p>Widget rendering:</p>
                <pre>widget.render();</pre> 
            </li>
            <li>
                <p>Add the CSS files to your page. It's preferably to add them at the head of your page:</p>
                <pre>&lt;link rel="stylesheet" href="http://tmv.herokuapp.com/css/simple-light.css"&gt;
&lt;style&gt;
.tmvwidget{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border-width:1px;width:248px;}.tmvwidget .tmvwidget-header{-webkit-border-top-right-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;}
&lt;/style&gt;</pre> 
            </li>
        </ol> 

        <hr class="bs-docs-separator">

        <h3><a name="Widget_Custom_Events"></a>Widget Custom Events</h3>
        <p>TMV widget provides the next methods for working with custom events:</p>
        <br>
        <p><code>on()</code> - Binds a callback function to an object. The callback will be invoked whenever the event is fired. (<a href="/docs/tmv/classes/EDM.Observable.html#method_on" target="_blank">More details</a>)</p>
        <pre>// External usage example:
widget.on('change:make', function(makeId) {
    // this code is executed when the change event is fired by the widget
});

// Internal usage example:
this.on('change:make', function(makeId) {
    // this code is executed when the change event is fired by the widget
});</pre>
        <br>
        <p><code>off()</code> - Removes a previously-bound callback function from an object. If no event name is specified, all callbacks will be removed. (<a href="/docs/tmv/classes/EDM.Observable.html#method_off" target="_blank">More details</a>)</p>
        <pre>// External usage example:
widget.off('change:make');

// Internal usage example:
this.off('change:make');</pre>
        <br>
        <p><code>trigger()</code> - Trigger callbacks for the given event. Subsequent arguments to trigger will be passed along to the event callbacks. (<a href="/docs/tmv/classes/EDM.Observable.html#method_trigger" target="_blank">More details</a>)</p>
        <pre>this.trigger('change:make', makeId);</pre>
        <h4>Events</h4>
        <p>You can read all list of events <a href="/docs/tmv/classes/EDM.TMV.html#event_calculate" target="_blank">here</a>.</p>


    </div><!--./row -->
</div><!--./container -->

<script src="/js/libs/jquery.js"></script>
<script src="/js/libs/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/js/plugins/bootstrap-button.js"></script>
<script src="/js/plugins/bootstrap-tooltip.js"></script>
<script src="/js/plugins/bootstrap-modal.js"></script>

</body>
</html>