<div class="modal hide fade" id="widget-instructions">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Instructions</h3>
    </div>
    <div class="modal-body">

<p>You need an empty div on your page to house the widget:</p>
<pre>&lt;div id="tmvwidget"&gt;&lt;/div&gt;</pre>

<p>Add the following JavaScript files to your page. It's preferably to add them at the bottom of your page for best page performance:</p>

<pre id="insert-js"></pre>

<p>Add the following CSS files to your page. It's preferably to add them at the head of your page:</p>

<pre id="insert-css"></pre>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>