<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.10.1.custom.min.css">
    <% if (portal) { %>
    <link rel="stylesheet" href="/css/portal.css">
    <% } %>
</head>
<body>

<div id="main" class="container">
    <% if (!portal) { %>
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills pull-right">
                <li><a href="/docs/tmv" target="_blank">View API Documentation</a></li>
            </ul>
            <ul class="nav nav-pills pull-center">
                <li class="active"><a href="/tmv/v2">Widget</a></li>
                <li><a href="/tmv/v2/about">Quick Start</a></li>
            </ul>
        </div>
    </div><!--./row -->
    <% } %>
    <div class="row">
        <div class="span4">
            <% include configurator %>
        </div>

        <div class="span8">
            <div id="message" class="alert hide"></div>
            <div id="widget-placeholder">
                <div class="alert alert-info">Loading...</div>
                <div id="tmvwidget"></div>
                <i class="corner top left"></i>
                <i class="corner top right"></i>
                <i class="corner bottom left"></i>
                <i class="corner bottom right"></i>
            </div>
        </div><!--./widget-placeholder -->

    </div><!--./row -->
</div><!--./container -->

<% include instructions %>
<% include snippets %>

<% if (debug) { %>
<script src="/js/libs/jquery/jquery.js"></script>
<script src="/js/libs/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/js/plugins/bootstrap-button.js"></script>
<script src="/js/plugins/bootstrap-tooltip.js"></script>
<script src="/js/plugins/bootstrap-modal.js"></script>
<script src="/js/plugins/edm-plugins.js"></script>
<script src="/js/edm/edmunds-sdk.js"></script>
<script src="/js/tmv/tmvwidget.js?debug=true"></script>
<script src="/js/TMVConfigurator.js"></script>
<script>
$('#vehicleApiKeyControl [type="text"]').on('dblclick', function() {
    $(this).val('axr2rtmnj63qsth3ume3tv5f').trigger('change');
});
</script>
<% } else { %>
<script src="/js/libs/jquery/jquery.min.js"></script>
<script src="/js/libs/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/js/plugins/bootstrap-button.js"></script>
<script src="/js/plugins/bootstrap-tooltip.js"></script>
<script src="/js/plugins/bootstrap-modal.js"></script>
<script src="/js/plugins/edm-plugins.js"></script>
<script src="/js/edm/edmunds-sdk.min.js"></script>
<script src="/js/tmv/tmvwidget.min.js"></script>
<script src="/js/TMVConfigurator.js"></script>
<% } %>
<script>
    TMVConfigurator.HOST = '<%= url %>';
    var configurator = new TMVConfigurator('');
</script>
</body>
</html>