<div class="control-group">
    <div class="control-label">Size:</div>
    <div class="controls" id="option_size">
        <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn btn-small btn-default" data-value="largeButton">Large</button>
            <button type="button" class="btn btn-small btn-default" data-value="smallButton">Small</button>
        </div>
    </div>
</div>


